{{ define "main" }}
<main id="main">
    <h1>HTTP Error 404</h1>
    <p>If you followed a link, the page may have deleted or is available under a different URL.</p>
    <figure>
        <blockquote cite="https://de.wikipedia.org/wiki/O_alte_Burschenherrlichkeit">
            <p>Vergebens spähe ich umher,<br>
                Ich finde deine Spur nicht mehr.<br>
                O jerum, jerum, jerum,<br>
                O quae mutatio rerum
            </p>
        </blockquote>
        <figcaption>&mdash;<cite>O alte Burschenherrlichkeit</cite></figcaption>
    </figure>
</main>
{{ end }}