{{- $employer := .Get "employer" | markdownify -}}
{{- $position := .Get "position" | markdownify -}}
{{- $type := .Get "type" | markdownify -}}
{{- $location := .Get "location" | markdownify -}}

{{- $from := time.AsTime (.Get "from") -}}
{{- $toParam := .Get "to" -}}

{{- $fromDisplay := time.Format "01/2006" $from -}}
{{- $toDisplay := "<em>Present</em>" -}}

{{- if $toParam -}}
  {{- $to := time.AsTime $toParam -}}
  {{- $toDisplay = time.Format "01/2006" $to -}}
{{- end -}}

<table>
  <tr>
    <td><h2>{{ title $position }}</h2></td>
    <td>{{ $fromDisplay }}&ndash;{{ $toDisplay | safeHTML }}</td>
  </tr>
  <tr>
    <td><strong>{{- $employer -}}</strong></td>
    <td>{{- $location -}}</td>
  </tr>
  <tr>
    <td colspan="2">
    <div class="cv-entry-body">
      {{ .Inner | markdownify }}
    </div>
    </td>
  </tr>
</table>
